@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: visible;
}


input {
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2.5px solid rgba(255, 255, 255, 0.8);
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
    width: 200px;
}

hr {
    height: 1px;
    width: 100%;
    margin: 2.5px 0 10px 0;
    opacity: 0.25;
}

.error {
    color: #000;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 12px
}

a {
    text-decoration: none;
}

.createNewBoardCard {
    color: white;
    width: 345px;
    height: auto;
    margin: 20px;
    background-color: #9fe7a4;
    padding: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5.5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;
}

.dBAoMo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px rgb(240,240,240);
}

.hfjVaS {
    margin: 20px 0 5px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.dGUCUV {
    width: 114px;
    height: 43px;
    margin: 15px 18px 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 250 ease-in-out;
    transition: all 250 ease-in-out;
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.bNrnZp {
    width: auto;
    height: 43px;
    margin: 15px -5px 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border: none;
    background: none;
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;
}

.UIKfr {
    width: 345px;
    margin: 20px;
    background-color: white;
    color: #333;
    padding: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5.5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    font-weight: 900;
    text-shadow: 0px 0px 3px white;
    -webkit-animation: eMLfYp 600ms linear;
    animation: eMLfYp 600ms linear;
}

.kcGAOi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
    background-color: #0a2c74;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    height: 100px;
    padding: 10px 40px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: eMLfYp 300ms linear;
    animation: eMLfYp 300ms linear;
    border-radius: 5px;
    width: 100px;
    margin-left: 45px;
}

.hRebLv {
    color: white;
    font-weight: 900;
}

.icVHFD {
    color: white;
    word-break: break-all;
    background-color: #9fe7a4;
    text-shadow: 0px 0px 3px #000;
    padding: 10px 60px;
    margin: 0 0 0 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bYcqkD {
    padding: 20px 12px;
    height: 75px;
    margin: 20px 0;
    background-color: rgba(255,255,255,0.45);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 270px;
    margin-left: 45px;
}

.dbmEVi {
    position: relative;
    left: 30px;
    top: -24px;
    z-index: 9999;
}

.eomhGf {
    width: 24px;
    height: 24px;
    padding: 5px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-image: url('https://trello-copy-ddiaorohmd.now.sh/static/media/closeIcon.e5ef77f2.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.pzoVb {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    background-color: rgb(255,255,255);
    padding: 5px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-animation: eMLfYp 300ms linear;
    animation: eMLfYp 300ms linear;
    margin-left: 45px;
    text-align: center;
    text-transform: uppercase;
}

.dQRJlP {
    margin: 10px 0;
    padding: 14px 7px;
    background: rgb(241,241,241);
    border-radius: 4.5px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    -webkit-animation: eMLfYp 300ms linear;
    animation: eMLfYp 300ms linear;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

.bjdCWn {
    padding: 4px 7px;
    opacity: 0.4;
    border: none;
    border-radius: 9999;
    cursor: pointer;
    font-size: 16px;
}

.cYQggE {
    background-image: url(https://trello-copy-ddiaorohmd.now.sh/static/media/logo.3c0d526e.svg);
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(3px 3px 3px #333);
    filter: drop-shadow(3px 3px 3px #333);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}